/* styles.css */

/* General for all Buttons */
.button {
    -fx-background-color: #d1dbc6; 
    -fx-underline: true;
    -fx-padding: 10;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 18px;
    -fx-font-family: Arial, 'Helvetica', sans-serif;
}

/*  Label Styles */
.label-title {
    -fx-background-color: #58a562;
    -fx-alignment: center;
           -fx-padding: 10 100 10 100;
           -fx-text-fill: black;
           -fx-background-radius: 10px;
           -fx-border-radius: 10px;
           -fx-font-size: 25px;
           -fx-font-family: Arial, 'Helvetica', sans-serif;
           -fx-margin-bottom: 100;
}

.label-yellow {
    -fx-background-color: #58a562; 
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-text-fill: black;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 18px;
    -fx-font-family: Arial, 'Helvetica', sans-serif;
}

/* TextField */
.textfield-green {
    -fx-background-color: #bfe63271; 
    -fx-padding: 10;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 18px;
    -fx-font-family: Arial, 'Helvetica', sans-serif;
}

/* VBox Background Gradient */
.vbox-background {
    -fx-background-color: #ffffff; 
}


